.custom-top {
    z-index: 1000;
}

.top-navbar {
    border-bottom: 1px solid rgba(132,132,132,.15);
    background: #fff;
}

div.top-navbar ul li {
    border: 1px solid rgba(132,132,132,.15);
}

.top-navbar ul li a {
    min-height: 50px;
}

ul.uk-navbar-nav-parent>li>a {
    color: #fff;
    font-weight: 500;
}

/* MOBILE */

.mobile-container {
    z-index: 1;
    position: relative;
    background: white;
}